html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover{
  color:grey;
}

p {
  color: #6d7073;
}

ul, li {
  text-decoration: none;
  list-style-type: none;
}

.topBanner {
  width: 100%;
  background-color: #004885;
  color: white;
}

.innerBanner {
    background-color: #01579B;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  /* width: 90%;
  margin: 0 auto; */
}

.nba-logo {
  width: 2.5%;
  display: inline-block;
  vertical-align: bottom;
  padding: 0.5rem;
}

.title {
  font-size: 1.2rem;
  text-decoration: none;
}

.title h1 {
    display: inline-block;
}

.title a {
  color: white;
}

.login-logout a {
  text-decoration: none;
  color: white;
}

.login-logout ul {
  padding-top: 1.7rem;
}

.links {
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 0;
  /* border-bottom: 2px solid black; */
}

.links a {
  color: white;
  text-decoration: none;
}

.page-link {
  display: inline-block;
  width: 20%;
}

.schedule-dates {
  display: none;
  visibility: hidden;
}

.home-content {
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.main-content {
  width: 60%;
  float: left;
}

.intro {
  width: 90%;
  font-style: normal;
  font-size: 16px;
  line-height: 1.625rem;
  color: #6d7073;
}

.twitter-sidebar {
  width: 39%;
  float: right;
}

.text-links {
  color: #01579B;
  font-weight: 550;
}

.text-links:hover {
  color: #004885;
}

.following-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.following li, .comment {
  /* flex-grow: 1; */
  /* border-right: 1px solid black; */
  padding: 0.75rem;
  margin: 0.25rem;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.following a:hover {
  color: #004885;
}

.comment-list {
  padding: 0;
}

.page-content {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  background-color: white;
}

.team-list {
  display: flex;
}

.conference-teams {
  flex-grow: 1;
}

.conference-teams {
  text-align: left;
}

.conference-teams td {
  color: #6d7073;
}

.topplayer{
  text-align: left;
}


th.playerstat{
  width: 100px;
  text-align: center;
}
th.playername{
  width: 200px;
  text-align: left;
}

ul.datelist{
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  padding:0;

}

td.playerstat{
  text-align: center;
}
li.datelist{
  width: 30%;
  display: inline-block;
  margin:0;
  margin-right: 1%;
  text-align: center;
  border-bottom: 2px solid;
}

div.gamedetail{
  position: relative;
/*  */
  width: 60%;
  margin:0;
  display: inline-block;
  margin-right:10%;
  padding-top:0;
}

div.gamecomment{
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

h1.gamescore{
  font-size: 1.2rem;
  display: inline-block;
  margin-bottom: 50px;
  margin-top:30px;
}

table.games{
  width: 100%;
  margin: 0;
  margin-top: 30px;
  display: inline-block;
}

tr.games{
  width: 80%;
  display: inline-block;
  text-align: center;
}

a.games{
  width: 60%;
  display:inline-block;
  text-align: center;
  padding-top: 20px;
  height: 50px;
  border-bottom: 0.02px solid;
  margin-top:20px;
  margin-left: 20%;
}
h2{
  font-size: 1.1rem;
}



div.rightcontent{
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

div.leftcontent{

  width: 60%;
  margin:0;
  display: inline-block;
  margin-right:10%;
  padding-top:0;
}


div.stattitle{
  background-color: #01579B;
  padding-left: 10%;
  color: white;
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.stattitle h1{
  margin-top: 0;
}



.stattitle tr th{
  color: white;
  
}

.rightcontent a{
  margin-bottom: 3rem;
}

.stattitle tr td{
  color: white;

}
div.topplayer{
  margin-top: 15px;
  width: 45%;
  display: inline-block;
}

table.topplayer{
  display: inline-block;
  width:95%;
  margin-bottom: 30px;
}
.team-rank {
  text-align: center;
}

.conference-header {
  display: inline-block;
  width: 48.5%;
}

.login-container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: inline-block;
  margin: 0 auto;
  background-color: rgb(240, 240, 240);
  border-radius: 4px;
  padding: 1.5rem;
  width: 500px;
}

.login-form label {
  padding: 1rem 0rem;
  display: block;
}

.login-input, .register-input {
  padding: 0.25rem;
  width: 100%;
  margin-bottom: 0.5rem;
}

.login-button {
  margin-top: 1rem;
  width: 100%;
  background-color: #01579B;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 16px;
  padding: 0.5rem;
  transition: 0.5s;
}

.login-button:hover {
  cursor: pointer;
  background-color: #004885;
}
